.navbar{
    background-color: #00E2FF;
}
.navbar-brand{
    padding-top: 2.5px !important;
}
nav.navbar {
    margin-top: 20px; /* Pushes navbar down */
    max-width: 97%;   /* Shrinks width to 90% of the page */
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px; /* Optional: gives it a nice rounded edge */
    border-color: black;
}

#game-dropdown{
    visibility: hidden;
}